textarea, input, button { outline: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

html,
body,
#container,
.react-root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.input-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: .8em;
  color: #F2994A;
  margin: 0 0 20px 0;
}

.success-message,
.uploaded-message {
  font-size: .8em;
  color: #5496ff;
  margin: 0 0 20px 0;
}

.input-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.url-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  order: 1;
}

.dragdrop-input {
  order: 2;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-container {
  height: 50px;
  width: 100px;
}

.top {
  position: absolute;
  height: 25px;
  width: 100px;
  background-color: #70b5ff;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: .8em;
}

div.top:hover {
  cursor: hand;
  cursor: pointer;
}

.topAnimation {
  animation: topAnimate 0.5s 1;
}

.shadow {
  position: relative;
  height: 25px;
  width: 100px;
  background-color: #5496ff;
  border-radius: 5px;
  z-index: 0;
  top: 4px;
}

@keyframes topAnimate {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}


/*--- flexbox for header and submit button center -------*/

.input {
  border: none;
  width: 400px;
  height: 30px;
  font-size: .9em;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow .2s ease-in;
  padding: 0 10px;
}

.input:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input::-webkit-input-placeholder {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.input:-ms-input-placeholder {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.input:-moz-placeholder {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.input::-moz-placeholder {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}


.input-header {
  font-size: 1.6em;
  order: 1;
  margin: 0 0 20px 0;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #F2994A), color-stop(1, #F2C94C) );
  background-image: gradient( linear, left top, right top, color-stop(0, #F2994A), color-stop(1, #F2C94C) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.url-input-field {
  order: 2;
}

/*---- flexbox for dropzone text centering ------*/

.drop-zone-field {
  font-size: .9em;
  width: 419px;
  height: 30px;
  border-style: dashed;
  border-color: #d3d3d3;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px 0;

}

.drop-zone-field:hover {
  cursor: pointer; cursor: hand;
}

.drop-zone-text {
  order: 1;
}


/* ------ Image View ------ */

img {
  border-radius: 3px;
  max-height: 300px;
  max-width: 225px; /* you can use % */
}

/* ------ Translate flexbox ------ */

.translate-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.translate-header {
  font-size: 1.6em;
  order: 1;
  max-width: 50%;
  margin: 0 0 20px 0;
  /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #F2994A), color-stop(1, #F2C94C) );
  background-image: gradient( linear, left top, right top, color-stop(1, #F2994A), color-stop(1, #F2C94C));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;*/
}

.translate-link {
  text-decoration: none;
  color:transparent;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #F2994A), color-stop(1, #F2C94C) );
  background-image: gradient( linear, left top, right top, color-stop(1, #F2994A), color-stop(1, #F2C94C));
  -webkit-background-clip: text;
  background-clip: text;
}

.translate-components {
  display: flex;
  width: 100%;
  /*height: 165px;*/
  align-items: flex-start;
  justify-content: center;
  flex-direction:row;
  order: 2;
  min-width: 50%;
}


/* ------ Translate Components Flexbox ----- */

.image-div {
  order: 1;
  position: relative;
  top: 10px;
}

.results-div {
  order: 2;
}

/* ------ Results Flexbox ------ */

.results-container {
  display: flex;
  flex-direction: row;
}

.keyword-item {
  font-size: .9em;
  margin: 0 0 0 55px;
  height: 150px;
  width: 225px;
  order: 1;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.keyword {
  order: 1
}

.results-item {
  font-size: .9em;
  height: 150px;
  width: 225px;
  order: 2;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}


/* ------ TranslationResults Flexbox ------- */

.translation-results-container {
  order: 1;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  order: 1;
}

.translated-item {
  order: 2;
}

/* -------- source / target language -------- */

.source-language {
  height: 22px;
}
.target-language {
  height: 20px;
}

/* --------src/Keyword.js KeywordList Table -------- */

tr.keyword-header {
  height: 24px;
}

th {
  text-align: left;
}