body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

html,
body,
#container,
.react-root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column-reverse;
  max-width: 50%;
}
.url-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  order: 1;
}

.dragdrop-input {
  order: 2;
}


/*--- flexbox for header and submit button center -------*/

.input {
  width: 250px;
}

.input-header {
  order: 1;
  margin: 0 0 10px 0;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff9068), color-stop(1, #fd746c) );
  background-image: gradient( linear, left top, right top, color-stop(0, #ff9068), color-stop(0.15, #fd746c) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.url-input-field {
  order: 2;
}

.input-separator {
  order: 3;
  margin: 10px;
  font-size: .75em;
}
/*---- flexbox for dropzone text centering ------*/

.drop-zone-field {
  font-size: .75em;
  width: 250px;
  height: 50px;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone-field:hover {
  cursor: pointer; cursor: hand;
}

.drop-zone-text {
  order: 1;
}


/* ------ Image View ------ */

.image-view-container {
  /*height: 400px;
  width: 250px;
  overflow: scroll;*/
  padding-top: 25%;
}

img {
  border-radius: 8px;
  max-height: 300px;
  max-width: 225px; /* you can use % */
}

/* ------ Translate flexbox ------ */

.translate-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.translate-header {
  order: 1;
  max-width: 50%;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #c0c0aa), color-stop(1, #1ce) );
  background-image: gradient( linear, left top, right top, color-stop(0, #c0c0aa), color-stop(0.15, #1ce) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.translate-components {
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  order: 2;
  max-width: 50%;
}


/* ------ Translate Components Flexbox ----- */

.image-div {
  order: 1;
}

.results-div {
  order: 2;
}

/* ------ Results Flexbox ------ */

.results-container {
  display: flex;
  flex-direction: row;
}

.keyword-item {
  font-size: .9em;
  margin: 0 0 0 75px;
  height: 150px;
  width: 225px;
  order: 1;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.keyword {
  order: 1
}

.results-item {
  font-size: .9em;
  height: 150px;
  width: 225px;
  order: 2;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}


/* ------ TranslationResults Flexbox ------- */

.translation-results-container {
  order: 1;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  order: 1;
}

.translated-item {
  order: 2;
}

/* -------- source / target language -------- */

.source-language {
  height: 22px;
}
.target-language {
  height: 20px;
}

/* --------src/Keyword.js KeywordList Table -------- */

tr.keyword-header {
  height: 24px;
}